header {
  & .container {
    margin-top: 4.2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & a {
    transition: color 200ms ease-in;
  }

  & a:hover {
    color: var(--dark-blue);
  }

  & ul {
    gap: 1.6rem;
  }

  & i {
    font-size: 3.2rem;
  }
}