header {
  & .container {
    margin-top: 4.2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--light-pink);
  }

  & a {
    transition: color 200ms ease-in;
  }

  & a:hover {
    color: var(--dark-blue);
  }

  & ul {
    gap: 1.6rem;
    align-items: center;
  }

  & i {
    font-size: 3.2rem;
    padding: 1.2rem;
  }

  & #organize-1 {
    width: 22rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}