#hero {
  height: calc(100vh - 10.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;

  position: relative;

  & h1 {
    font-size: 12.8rem;
    font-weight: normal;
  }

  & p {
    font-size: 2rem;
    color: var(--dark-gray);
  }

  & #arrow-down{
    display: block;
    margin-top: 15rem;

    & i {
      font-size: 3.6rem;
      color: var(--hot-pink);
    }
  }

  & #organize-2 {
    width: 22rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}